.intro{
    width: 1260px;
    text-align: center;
    margin-top: 20px;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
   
}
.pic{
    text-align: center;
    width: 250px;
    height: auto;
    border-radius: 50%;
    border: 3px rgb(7, 232, 248);
}
.nam{
    font-size: 50px;
    font-family: 'Tapestry', cursive;
    color: rgb(0, 140, 255);
    text-shadow: 2px 3px 4px rgb(134, 4, 15);


}
.info{
    color: whitesmoke;
    font-size: 30px;
}